.ingredients-list {
    background-color: lightskyblue;
}

.ingredients-list.ingredient-quantity, .ingredient-quantity {
    background-color: #5fbd48;
}

.ingredients-list.ingredient-unit, .ingredient-unit {
    background-color: gold;
}

.ingredients-list.ingredient-preparation, .ingredient-preparation {
    background-color: lightpink;
}